* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Roboto, Arial, sans-serif;
  background-color: rgb(212, 209, 209);
  margin:0;
}
header {
  background:rgb(151, 148, 148);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
}
.nav{
  list-style-type: disc;
}
.nav li a {
  display: flex;
  padding: 0.2rem 0.5rem;
  text-decoration: none;
  border-radius: 5px;
  color: rgb(68, 67, 67);
  font-weight: 500;
} 
.nav li a:hover{
  background-color: grey;
}
.pageTitle{
  align-self: center;
  justify-self: center;
}
header .pageTitle h1 {
  text-align: center;

}
.images{
  justify-self: end;
}
.title{
  text-align: center;
  background: rgb(210, 101, 210);
  padding: 1rem 2rem;
}
.contents{
  border-radius: 10px;
  padding:0.5rem;
  display: grid;
  justify-content:space-between;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.text-content{
  background-color: beige;
  padding: 1rem;
  border-radius: 10px;
}
.text-content h4 {
  margin-bottom: 10px;
  text-align: center;
  text-decoration: underline;
  font-size: 25px;
  color: rgb(4, 43, 106);
}
.img-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 15px;
  background-color: blueviolet;
}
.img-content img{
  width: 200px;
}